

body {
    background-color: #f9fafc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navleft {
    float: left;
    padding: 15px;
}

ul {
    clear:left;
    float:none;
    /* float: right; */
    padding: 0 20px 0 20px;
}

li {
    display: block;
    padding: 10px 10px;
    margin: 5px 0px;
}

.button {
    background-color: #000;
    color: #f9fafc;
    border-radius: 85px;
    padding: 10px 30px;
    width: 65%;
    text-align: center;
}

.leftbody {
    float: none;
    margin-left: 2%;
    margin-top: 10%;
    width: 48%;
}

p {
    width: 330px;
    border-left: solid 5px #69696a;
    padding: 0px 10px 0px 20px;
}

.circles {
    display: none;
}

footer {
    display: inline-block;
    left: 0;
    bottom: 5%;
    width: 100%;
    /* left: 0;
    bottom: 5%;
    width: 100%;
    margin: auto;
    display: block;
    position: relative;
    text-align: center; */
}

.footerbutton {
    background-color: #000;
    color: #f9fafc;
    border-radius: 85px;
    padding: 10px 30px;
    margin: auto 32%;
    width: 10%;
    /* background-color: #000;
    color: #f9fafc;
    border-radius: 85px;
    padding: 10px 30px;
    width: 60%;
    display: block; */
}
