@media only screen and (min-width: 479px) {
    
    body {
        background-color: #f9fafc;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    ul {
        float: right;
        clear: none;
    }

    li {
        display: inline-block;
    }

    .button {
        width: auto;
    }

    .clearing {
        clear: both;
    }
    .leftbody {
        float: left;
        margin-left: 2%;
        margin-top: 10%;
    }

    p {
        width: 425px;
    }

    .circles {
        float: right;
        position: relative;
        width: 45%;
        display: block;
    }

    .circle1 {
        height: 215px;
        width: 215px;
        background-color: rgba(247, 193, 162, 0.7);
        border-radius: 105px;
        position: absolute;
        top: 315px;
        right: 25px;
    }
    .circle2 {
        height: 155px;
        width: 155px;
        background-color: rgba(207, 130, 213, 0.6);
        border-radius: 100px;
        position: absolute;
        right: 25px;
        top: 190px;
    }
    .circle3 {
        height: 300px;
        width: 300px;
        background-color: rgba(247, 136, 167, 0.6);
        border-radius: 150px;
        position: absolute;
        right: 115px;
        top: 150px;
    }

    footer {
        display: inline-block;
        position: fixed;
        left: 0;
        bottom: 5%;
        width: 100%;
    }
    .footerbutton {
        background-color: #000;
        color: #f9fafc;
        border-radius: 85px;
        padding: 10px 30px;
        margin: auto 42%;
        width: 10%;
    }
}
